<div
  class="relative flex items-center justify-center rounded-md bg-gray-400 dark:bg-night-600 border border-dashed"
  [ngClass]="{ 'border-none': currentImage }"
  [style.width]="width"
  [style.height]="height"
  [class.border-blue-500]="isDragOver"
  (drop)="onDrop($event)"
  (dragover)="onDragOver($event)"
  (dragleave)="onDragLeave($event)"
>
  <!-- Display selected image -->
  <img
    *ngIf="currentImage"
    [src]="currentImage"
    [style.width]="width"
    [style.height]="height"
    alt="Selected Image"
    class="rounded-md"
  />

  <!-- Centered text and upload button -->
  <div
    class="flex flex-col items-center justify-center text-center absolute inset-0"
    *ngIf="!currentImage"
  >
    <svg-icon
      src="./assets/images/uploader.svg"
      [svgClass]="'h-14 w-14 text-primary-300'"
    >
    </svg-icon>
    <span class="text-sm text-white">Drag an image here or</span>
    <span
      class="hover:underline cursor-pointer text-sm font-varela text-sky-500 hover:text-sky-700"
      (click)="fileInput.click()"
    >
      upload a file
    </span>
  </div>
  <button
    *ngIf="currentImage"
    (click)="deleteImage()"
    class="absolute bottom-2 right-2 bg-red-600 text-white rounded-full p-1 hover:bg-red-700"
  >
    <svg-icon
      src="./assets/icons/heroicons/trush-outline.svg"
      [svgClass]="'w-4 h-4'"
    >
    </svg-icon>
  </button>
  <!-- Hidden file input -->
  <input
    type="file"
    #fileInput
    (change)="onFileSelected($event)"
    accept="image/*"
    hidden
  />
</div>
