<nav class="flex text-gray-700 text-sm">
  <ul class="flex space-x-2 items-center">
    <li *ngFor="let breadcrumb of breadcrumbs; let first = first; let last = last" class="flex items-center">
      <ng-container *ngIf="!(first && currentUrl === '/admin')">
        <!-- Render the home icon only if the first route is not admin (home route) -->
        <ng-container *ngIf="first && breadcrumb.label === 'admin'; else normalBreadcrumb">
          <a [routerLink]="breadcrumb.url" class="flex items-center space-x-2 text-gray-900 dark:text-night-50">
            <svg-icon
              src="./assets/icons/heroicons/solid/home.svg"
              [svgClass]="'w-4 h-4'"
              class="inline-block"
            >
            </svg-icon>
          </a>
        </ng-container>
        <ng-template #normalBreadcrumb>
          <a [routerLink]="breadcrumb.url" class="font-rubik font-[400] text-primary-500 " [ngClass]="{'font-[500]': last}">
            {{ breadcrumb.label | titlecase }}
          </a>
        </ng-template>
      </ng-container>

      <!-- Separator for non-last items -->
      <span *ngIf="!last" class="mx-2 font-poppins dark:text-night-200">></span>
    </li>
  </ul>
</nav>
