<div class="container bg-gray-100 ">

<div class="grid grid-cols-4 gap-5 py-5">
    <div class=" w-auto bg-white  rounded-lg overflow-hidden showcase group border">
        <div class="relative w-full h-48">
       <img src="./assets/images/products/jacket-3.jpg" alt="Product Image 1" class="w-full h-full object-contain absolute top-0 left-0 product-image default">
       <img src="./assets/images/products/jacket-4.jpg" alt="Product Image 2" class="w-full h-full object-contain absolute top-0 left-0 opacity-0 product-image hover">
   
       <div class="showcase-badge angle">
       New
       </div>
   
       <div class="absolute top-2 right-2 opacity-0 icon-container">
         <button class="btn-action block">          
             <svg-icon
       src="./assets/icons/heroicons/heart.svg"
    
       [svgStyle]="{ 'width.px': 15 }"
     ></svg-icon>
     </button>

     <button class="btn-action block">
       <svg-icon
       src="./assets/icons/heroicons/eye.svg"
  
       [svgStyle]="{ 'width.px': 15 }"
     ></svg-icon>
     </button>

                <button class="btn-action block">
    

       <svg-icon
       src="./assets/icons/heroicons/shopping-cart.svg"
 
       [svgStyle]="{ 'width.px': 15 }"
     ></svg-icon>
     </button>
       </div>
     </div>
     
     <!-- Description Section -->
     <div class="p-4 showcase-content">
        <a href="#" class="showcase-category">Jacket</a>
       <p class="text-gray-600 mt-2">This is a brief description of the product, highlighting its key features and benefits.</p>
       <p class="text-gray-900 font-bold mt-4">$99.99</p>
     </div>
   </div>
   <div class=" w-auto bg-white  rounded-lg overflow-hidden showcase group">
    <div class="relative w-full h-48">
   <img src="./assets/images/products/shirt-1.jpg" alt="Product Image 1" class="w-full h-full object-contain absolute top-0 left-0 product-image default">
   <img src="./assets/images/products/jacket-4.jpg" alt="Product Image 2" class="w-full h-full object-contain absolute top-0 left-0 opacity-0 product-image hover">

   <div class="showcase-badge angle">
   New
   </div>

   <div class="absolute top-2 right-2 opacity-0 icon-container">
     <button class="btn-action block">          
         <svg-icon
   src="./assets/icons/heroicons/heart.svg"

   [svgStyle]="{ 'width.px': 15 }"
 ></svg-icon>
 </button>

 <button class="btn-action block">
   <svg-icon
   src="./assets/icons/heroicons/eye.svg"

   [svgStyle]="{ 'width.px': 15 }"
 ></svg-icon>
 </button>

            <button class="btn-action block">


   <svg-icon
   src="./assets/icons/heroicons/shopping-cart.svg"

   [svgStyle]="{ 'width.px': 15 }"
 ></svg-icon>
 </button>
   </div>
 </div>
 
 <!-- Description Section -->
 <div class="p-4">
   <h3 class="text-lg font-semibold">Product Title</h3>
   <p class="text-gray-600 mt-2">This is a brief description of the product, highlighting its key features and benefits.</p>
   <p class="text-gray-900 font-bold mt-4">$99.99</p>
 </div>
</div>
<div class=" w-auto bg-white  rounded-lg overflow-hidden showcase group">
    <div class="relative w-full h-48">
   <img src="./assets/images/products/jacket-3.jpg" alt="Product Image 1" class="w-full h-full object-contain absolute top-0 left-0 product-image default">
   <img src="./assets/images/products/jacket-4.jpg" alt="Product Image 2" class="w-full h-full object-contain absolute top-0 left-0 opacity-0 product-image hover">

   <div class="showcase-badge angle">
   New
   </div>

   <div class="absolute top-2 right-2 opacity-0 icon-container">
     <button class="btn-action block">          
         <svg-icon
   src="./assets/icons/heroicons/heart.svg"

   [svgStyle]="{ 'width.px': 15 }"
 ></svg-icon>
 </button>

 <button class="btn-action block">
   <svg-icon
   src="./assets/icons/heroicons/eye.svg"

   [svgStyle]="{ 'width.px': 15 }"
 ></svg-icon>
 </button>

            <button class="btn-action block">


   <svg-icon
   src="./assets/icons/heroicons/shopping-cart.svg"

   [svgStyle]="{ 'width.px': 15 }"
 ></svg-icon>
 </button>
   </div>
 </div>
 
 <!-- Description Section -->
 <div class="p-4">
   <h3 class="text-lg font-semibold">Product Title</h3>
   <p class="text-gray-600 mt-2">This is a brief description of the product, highlighting its key features and benefits.</p>
   <p class="text-gray-900 font-bold mt-4">$99.99</p>
 </div>
</div>
<div class=" w-auto bg-white  rounded-lg overflow-hidden showcase group">
    <div class="relative w-full h-48">
   <img src="./assets/images/products/jacket-3.jpg" alt="Product Image 1" class="w-full h-full object-contain absolute top-0 left-0 product-image default">
   <img src="./assets/images/products/jacket-4.jpg" alt="Product Image 2" class="w-full h-full object-contain absolute top-0 left-0 opacity-0 product-image hover">

   <div class="showcase-badge angle">
   New
   </div>

   <div class="absolute top-2 right-2 opacity-0 icon-container">
     <button class="btn-action block">          
         <svg-icon
   src="./assets/icons/heroicons/heart.svg"

   [svgStyle]="{ 'width.px': 15 }"
 ></svg-icon>
 </button>

 <button class="btn-action block">
   <svg-icon
   src="./assets/icons/heroicons/eye.svg"

   [svgStyle]="{ 'width.px': 15 }"
 ></svg-icon>
 </button>

            <button class="btn-action block">


   <svg-icon
   src="./assets/icons/heroicons/shopping-cart.svg"

   [svgStyle]="{ 'width.px': 15 }"
 ></svg-icon>
 </button>
   </div>
 </div>
 
 <!-- Description Section -->
 <div class="p-4">
   <h3 class="text-lg font-semibold">Product Title</h3>
   <p class="text-gray-600 mt-2">This is a brief description of the product, highlighting its key features and benefits.</p>
   <p class="text-gray-900 font-bold mt-4">$99.99</p>
 </div>
</div>
</div>
  
    
  </div>
  