<div class="container ">
  <div class="grid  grid-cols-2 lg:grid-cols-3 gap-5 py-5">
    <div
      class="w-auto bg-white rounded-lg overflow-hidden showcase group border"
    >
      <div class="relative w-full h-48">
        <img
          src="./assets/images/products/jacket-3.jpg"
          alt="Product Image 1"
          class="w-full h-full object-contain absolute top-0 left-0 product-image default"
        />
        <img
          src="./assets/images/products/jacket-4.jpg"
          alt="Product Image 2"
          class="w-full h-full object-contain absolute top-0 left-0 opacity-0 product-image hover"
        />

        <div class="absolute top-[15px] left-[15px] bg-[var(--ocean-green)]  text-white px-[8px] rounded-[var(--border-radius-sm)] z-[3] showcase-badge">-20%</div>

        <div class="absolute top-2 right-2 opacity-0 icon-container">
          <button class="btn-action block">
            <svg-icon
              src="./assets/icons/heroicons/heart.svg"
              [svgStyle]="{ 'width.px': 15 }"
            ></svg-icon>
          </button>

          <button class="btn-action block">
            <svg-icon
              src="./assets/icons/heroicons/eye.svg"
              [svgStyle]="{ 'width.px': 15 }"
            ></svg-icon>
          </button>

          <button class="btn-action block">
            <svg-icon
              src="./assets/icons/heroicons/shopping-cart.svg"
              [svgStyle]="{ 'width.px': 15 }"
            ></svg-icon>
          </button>
        </div>
      </div>

      <!-- Description Section -->
      <div class="p-4 showcase-content">
        <a href="#" class="showcase-category">Jacket</a>
        <h3>
          <a href="#" class="showcase-title">MEN Yarn Fleece Full-Zip Jacket</a>
        </h3>
        <!-- <div class="showcase-rating">
          <svg-icon
            src="./assets/icons/heroicons/star.svg"
            class="remove-icon"
            [svgStyle]="{ 'width.px': 15 }"
          ></svg-icon>
          <svg-icon
            src="./assets/icons/heroicons/star.svg"
            class="remove-icon"
            [svgStyle]="{ 'width.px': 15 }"
          ></svg-icon>
          <svg-icon
            src="./assets/icons/heroicons/star.svg"
            class="remove-icon"
            [svgStyle]="{ 'width.px': 15 }"
          ></svg-icon>
          <svg-icon
            src="./assets/icons/heroicons/star.svg"
            class="remove-icon"
            [svgStyle]="{ 'width.px': 15 }"
          ></svg-icon>
          <svg-icon
            src="./assets/icons/heroicons/star.svg"
            class="remove-icon"
            [svgStyle]="{ 'width.px': 15 }"
          ></svg-icon>
        </div> -->

        <div class="price-box">
          <p class="price">$48.00</p>
          <del>$75.00</del>
        </div>
      </div>
    </div>
    <div class="w-auto bg-white rounded-lg overflow-hidden border showcase group">
      <div class="relative w-full h-48">
        <img
          src="./assets/images/products/shirt-1.jpg"
          alt="Product Image 1"
          class="w-full h-full object-contain absolute top-0 left-0 product-image default"
        />
        <img
          src="./assets/images/products/jacket-4.jpg"
          alt="Product Image 2"
          class="w-full h-full object-contain absolute top-0 left-0 opacity-0 product-image hover"
        />

        <div class="absolute top-[8px] left-[-29px] rotate-[-45deg] uppercase text-[11px] px-[40px] py-[2px] bg-pink-400  text-white">New</div>

        <div class="absolute top-2 right-2 opacity-0 icon-container">
          <button class="btn-action block">
            <svg-icon
              src="./assets/icons/heroicons/heart.svg"
              [svgStyle]="{ 'width.px': 15 }"
            ></svg-icon>
          </button>

          <button class="btn-action block">
            <svg-icon
              src="./assets/icons/heroicons/eye.svg"
              [svgStyle]="{ 'width.px': 15 }"
            ></svg-icon>
          </button>

          <button class="btn-action block">
            <svg-icon
              src="./assets/icons/heroicons/shopping-cart.svg"
              [svgStyle]="{ 'width.px': 15 }"
            ></svg-icon>
          </button>
        </div>
      </div>

      <!-- Description Section -->
      <div class="p-4 showcase-content">
        <h3 class="showcase-category">Product Title</h3>
        <h3>
          <a href="#" class="showcase-title">MEN Yarn Fleece Full-Zip Jacket</a>
        </h3>
        <!-- <div class="showcase-rating">
          <svg-icon
            src="./assets/icons/heroicons/star.svg"
            class="remove-icon"
            [svgStyle]="{ 'width.px': 15 }"
          ></svg-icon>
          <svg-icon
            src="./assets/icons/heroicons/star.svg"
            class="remove-icon"
            [svgStyle]="{ 'width.px': 15 }"
          ></svg-icon>
          <svg-icon
            src="./assets/icons/heroicons/star.svg"
            class="remove-icon"
            [svgStyle]="{ 'width.px': 15 }"
          ></svg-icon>
          <svg-icon
            src="./assets/icons/heroicons/star.svg"
            class="remove-icon"
            [svgStyle]="{ 'width.px': 15 }"
          ></svg-icon>
          <svg-icon
            src="./assets/icons/heroicons/star.svg"
            class="remove-icon"
            [svgStyle]="{ 'width.px': 15 }"
          ></svg-icon>
        </div> -->

        <div class="price-box">
          <p class="price">$48.00</p>
          <del>$75.00</del>
        </div>
      </div>
    </div>
    <div class="w-auto bg-white rounded-lg overflow-hidden border showcase group">
      <div class="relative w-full h-48">
        <img
          src="./assets/images/products/jacket-3.jpg"
          alt="Product Image 1"
          class="w-full h-full object-contain absolute top-0 left-0 product-image default"
        />
        <img
          src="./assets/images/products/jacket-4.jpg"
          alt="Product Image 2"
          class="w-full h-full object-contain absolute top-0 left-0 opacity-0 product-image hover"
        />

        <div class="absolute top-[8px] left-[-29px] rotate-[-45deg] uppercase text-[11px] px-[40px] py-[2px] bg-black  text-white">Sale</div>

        <div class="absolute top-2 right-2 opacity-0 icon-container">
          <button class="btn-action block">
            <svg-icon
              src="./assets/icons/heroicons/heart.svg"
              [svgStyle]="{ 'width.px': 15 }"
            ></svg-icon>
          </button>

          <button class="btn-action block">
            <svg-icon
              src="./assets/icons/heroicons/eye.svg"
              [svgStyle]="{ 'width.px': 15 }"
            ></svg-icon>
          </button>

          <button class="btn-action block">
            <svg-icon
              src="./assets/icons/heroicons/shopping-cart.svg"
              [svgStyle]="{ 'width.px': 15 }"
            ></svg-icon>
          </button>
        </div>
      </div>

      <!-- Description Section -->
      <div class="p-4 showcase-content">
        <h3 class="showcase-category">Product Title</h3>
        <h3>
          <a href="#" class="showcase-title">MEN Yarn Fleece Full-Zip Jacket</a>
        </h3>
        <!-- <div class="showcase-rating">
          <svg-icon
            src="./assets/icons/heroicons/star.svg"
            class="remove-icon"
            [svgStyle]="{ 'width.px': 15 }"
          ></svg-icon>
          <svg-icon
            src="./assets/icons/heroicons/star.svg"
            class="remove-icon"
            [svgStyle]="{ 'width.px': 15 }"
          ></svg-icon>
          <svg-icon
            src="./assets/icons/heroicons/star.svg"
            class="remove-icon"
            [svgStyle]="{ 'width.px': 15 }"
          ></svg-icon>
          <svg-icon
            src="./assets/icons/heroicons/star.svg"
            class="remove-icon"
            [svgStyle]="{ 'width.px': 15 }"
          ></svg-icon>
          <svg-icon
            src="./assets/icons/heroicons/star.svg"
            class="remove-icon"
            [svgStyle]="{ 'width.px': 15 }"
          ></svg-icon>
        </div> -->

        <div class="price-box">
          <p class="price">$48.00</p>
          <del>$75.00</del>
        </div>

      </div>
    </div>
 
  </div>
</div>

<!-- <div>
  <h2>{{ objectData.title }}</h2>
  <p><strong>Status:</strong> {{ objectData.status }}</p>
  <p>{{ objectData.description }}</p>
</div> -->