.showcase:hover {
  box-shadow: 0 0 10px hsla(0, 0%, 0%, 0.1);
}
.group:hover .default {
  opacity: 0;
  transform: scale(1.05);
}

.group:hover .hover {
  opacity: 1;
  transform: scale(1.1);
}
.product-image {
  transition:
    opacity 0.3s ease,
    transform 0.3s ease;
}

.showcase-badge {
  font-size: var(--fs-8);
  font-weight: var(--weight-500);
}

.icon-container {
  transform: translateX(100%);
  transition:
    transform 0.3s ease,
    opacity 0.3s ease;
}

.group:hover .icon-container {
  transform: translateX(0);
  opacity: 1;
}
.btn-action {
  background: var(--white);
  color: var(--sonic-silver);
  margin-bottom: 5px;
  border: 1px solid var(--cultured);
  padding: 5px;
  border-radius: var(--border-radius-sm);
  transition: var(--transition-timing);
}
.btn-action:hover {
  background: var(--eerie-black);
  color: var(--white);
  border-color: var(--eerie-black);
}
.showcase-content {
  width: calc(100% - 85px);
}
.showcase-category {
  color: var(--salmon-pink);
  font-size: var(--fs-9);
  font-weight: var(--weight-500);
  text-transform: uppercase;
  margin-bottom: 10px;
}

.showcase-category:hover {
  color: var(--salmon-pink);
}
.showcase-title {
  color: var(--sonic-silver);
  font-size: var(--fs-8);
  font-weight: var(--weight-300);
  text-transform: capitalize;
  letter-spacing: 1px;
  margin-bottom: 10px;
  transition: var(--transition-timing);
}

.showcase-title:hover {
  color: var(--eerie-black);
}
.showcase-rating {
  display: flex;
  color: var(--sandy-brown);
  margin-bottom: 10px;
}

.price-box {
  display: flex;
  gap: 10px;
  font-size: var(--fs-7);
  color: var(--eerie-black);
  margin-bottom: 10px;
}

.price {
  font-weight: var(--weight-700);
}

del {
  color: var(--sonic-silver);
}
