.pagination-controls {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;
}

.pagination-controls .pagination-page {
  margin: 0 5px;
  padding: 8px 16px;
  border: 1px solid #ddd;
  border-radius: 4px;
  cursor: pointer;
}

.pagination-controls .pagination-page:hover {
  background-color: #f0f0f0;
}

.pagination-controls .pagination-current {
  font-weight: bold;
  background-color: green;
  color: white;
  border-color: red;
}
