<div class="flex-col rounded-lg sm:flex-row w-full mb-4">
  <div class="mb-4 flex items-center justify-between">
    <div class="flex-col items-center">
      <h3
        class="text-md font-semibold text-gray-900 dark:text-night-50 capitalize font-rubik"
      >
        category
      </h3>
      <!-- <span class="text-sm text-gray-400 dark:text-night-300"
        >({{ 3 + " " }}item(s))</span
      > -->
    </div>
    <button
      class="flex-none rounded-md bg-gray-200 px-4 py-2.5 text-xs font-semibold text-gray-500 hover:bg-gray-300 dark:bg-night-600 dark:text-night-200 dark:hover:bg-night-500 capitalize"
      (click)="openDialog(true)"
    >
      new
    </button>
  </div>

 

  <div class="relative overflow-x-auto">
    <div class="grid grid-cols-1 md:grid-cols-2 xl:grid-cols-4 gap-4">
      <div
        class="bg-white rounded-lg p-2 dark:bg-night-700"
        *ngFor="
          let category of (categories$ | async) ?? []
            | paginate
              : {
                  id: 'server',
                  itemsPerPage: perPage,
                  currentPage: page,
                  totalItems: totalPage,
                }
        "
        [category]="category"
        cartegory-table-item
      ></div>
    </div>
  </div>
</div>

@if (page > 1) {
  <div class="flex justify-center items-center">
    <div class="spinner" [ngClass]="{ hidden: !loading }"></div>
    <pagination-controls
      class="my-pagination"
      id="server"
      [responsive]="responsive"
      [maxSize]="maxSize"
      [previousLabel]="previousLabel"
      [nextLabel]="nextLabel"
      (pageChange)="getPage($event)"
    ></pagination-controls>
  </div>
}

<app-add-new
  [isOpened]="createProduct"
  (closeSidebar)="handleSidebarClose()"
></app-add-new>
