<div class="flex justify-center items-center "   >
  <div  @sidebarAnimation *ngIf="isOpened" class="fixed inset-0 z-50 overflow-hidden">
    <!-- Sidebar Overlay -->
    <div
      *ngIf="isOpened"
      class="absolute inset-0 bg-gray-500 bg-opacity-75 transition-opacity"
      (click)="toggleDrawer()"
    ></div>
    
    <!-- Sidebar Content -->
    <section 
  
      class="absolute inset-y-0 pl-0 max-w-full flex"
      [ngClass]="{
        'right-0': position === 'right',
        'left-0': position === 'left',
        'pointer-events-auto scale-100 animate-fade-in-up opacity-100 duration-200 ': isOpened,
        'pointer-events-none scale-95 animate-fade-in-down  opacity-0 duration-300 ease-in': !isOpened
      }"
    >
      <div
        *ngIf="isOpened"
        class="w-screen max-w-md transition-transform transform translate-x-0"
        [ngClass]="{ 'translate-x-full': !isOpened }"
      >
        <div class="h-full flex flex-col py-6 bg-white shadow-xl dark:bg-night-600">
          <!-- Sidebar Header -->
          <div class="flex items-center justify-between px-4">
            <h2 class="text-l font-[500] text-black font-poppins capitalize dark:text-white">{{title}}</h2>
            <button
              (click)="toggleDrawer()"
              class="text-gray-500 hover:text-gray-700 dark:text-white"
            >
              <span class="sr-only">Close</span>
              <svg
                class="h-6 w-6"
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke="currentColor"
                aria-hidden="true"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M6 18L18 6M6 6l12 12"
                />
              </svg>
            </button>
          </div>
          <div class="mt-4 px-4 h-full overflow-auto">
            <ng-content></ng-content>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>
