<div class="flex gap-4 items-center mb-2">
  <div class="w-14 h-14 rounded-md bg-gray-200 p-1">
    <img
      src="{{ api_url + category.image }}"
      alt="category"
      width="100"
      height="100"
      class="rounded-md"
    />
  </div>
  <div>
    <h3 class="text-md font-[500] text-gray-700 dark:text-night-50 capitalize">
      {{ category.category_name }}
    </h3>
    <span class="text-sm text-gray-400 dark:text-night-300">{{
      category.description
    }}</span>
  </div>
</div>
<div>
  <h3 class="text-md font-[500] text-gray-700 dark:text-night-50 capitalize">
    sub categories
  </h3>
  <div class="grid grid-cols-3 gap-3 mt-2">
    <button
      class="flex-none rounded-full bg-gray-200 px-4 text-xs font-[400] text-gray-500 hover:bg-gray-300 dark:bg-night-600 dark:text-night-200 dark:hover:bg-night-500 capitalize"
    >
      new
    </button>
    <button
      class="flex-none rounded-full bg-gray-200 px-4 text-xs font-[400] text-gray-500 hover:bg-gray-300 dark:bg-night-600 dark:text-night-200 dark:hover:bg-night-500 capitalize"
    >
      new
    </button>
    <button
      class="flex-none rounded-full bg-gray-200 px-4 text-xs font-[400] text-gray-500 hover:bg-gray-300 dark:bg-night-600 dark:text-night-200 dark:hover:bg-night-500 capitalize"
    >
      new
    </button>
  </div>
</div>
