<IconButton
  [icon]="'assets/icons/heroicons/outline/ellipsis-vertical.svg'"
  [rounded]="true"
  [variant]="'basic'"
  [size]="'medium'"
  [color]="'primary'"
  [matMenuTriggerFor]="menu"
  class="absolute top-1 right-2"
></IconButton>

<!-- Menu options -->
<mat-menu #menu="matMenu">
  <button class="btn-list">
    <svg-icon
      [svgClass]="'h-5 w-5'"
      src="assets/icons/heroicons/solid/pencil.svg"
    ></svg-icon>
    <span>Update</span>
  </button>

  <button
    class="btn-list"
    (click)="publication(category.id, category.isPublished)"
  >
    <ng-container *ngIf="category.isPublished; else unpublished">
      <svg-icon
        [svgClass]="'h-5 w-5'"
        src="assets/icons/heroicons/solid/eye-slash.svg"
      ></svg-icon>
      <span>Unpublish</span>
    </ng-container>
    <ng-template #unpublished>
      <svg-icon
        [svgClass]="'h-5 w-5'"
        src="assets/icons/heroicons/solid/eye.svg"
      ></svg-icon>
      <span>Publish</span>
    </ng-template>
  </button>

  <button class="btn-list" (click)="openModal()">
    <svg-icon
      [svgClass]="'h-5 w-5'"
      src="assets/icons/heroicons/solid/trash.svg"
    ></svg-icon>
    <span>Delete</span>
  </button>
</mat-menu>

<!-- Image and description -->
<div class="clearfix">
  <div class="w-16 h-16 rounded-md bg-gray-200 p-1 float-left mr-2 ">
    <img
      [src]="api_url + category.image"
      alt="category"
      class="rounded-md w-full h-full object-cover"
    />
  </div>
  <h3
    class="text-md font-semibold font-rubik text-gray-700 dark:text-night-50 capitalize "
  >
    {{ category.category_name }}
  </h3>
  <span
    class="text-sm text-gray-400 dark:text-night-300 font-raleway block mt-1 px-2"
  >
    {{ category.description }}
  </span>
</div>

<!-- Modal for Delete Confirmation -->
<Modal
  [isOpen]="isModalOpen"
  (closeModalEvent)="closeModal()"
  [title]="'Delete Confirmation'"
  [loading]="loading"
  [content]="'Are you sure you want to delete this category?'"
  [subContent]="
    'The category might have products that depend on it. If you delete the category, the products will also be deleted.'
  "
  (submit)="deleteProductCategory(category.id)"
></Modal>
