<div class="flex justify-between">

  <div class="flex gap-4 items-center mb-2">
    <div class="w-14 h-14 rounded-md bg-gray-200 p-1">
      <img
        src="{{ api_url + category.image }}"
        alt="category"
        width="100"
        height="100"
        class="rounded-md"
      />
    </div>
    <div>
      <h3 class="text-md font-[500] text-gray-700 dark:text-night-50 capitalize">
        {{ category.category_name }}
      </h3>
      <span class="text-sm text-gray-400 dark:text-night-300">{{
        category.description
      }}</span>
    </div>
  </div>
  
  <div class="">
    <button
      mat-icon-button
      [matMenuTriggerFor]="menu"
      aria-label="Example icon-button with a menu"
      color="primary"
    >
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item >
        <mat-icon>dialpad</mat-icon>
        <span>Redial</span>
      </button>
      <button mat-menu-item disabled>
        <mat-icon>voicemail</mat-icon>
        <span>Check voice mail</span>
      </button>
      <button mat-menu-item>
        <mat-icon>notifications_off</mat-icon>
        <span>Disable alerts</span>
      </button>
    </mat-menu>
  </div>

</div>


<div>
  <h3 class="text-md font-[500] text-gray-700 dark:text-night-50 capitalize">
    sub categories
  </h3>
  <div class="grid grid-cols-3 gap-3 mt-2">
    <button
      class="flex-none rounded-full bg-gray-200 px-4 text-xs font-[400] text-gray-500 hover:bg-gray-300 dark:bg-night-600 dark:text-night-200 dark:hover:bg-night-500 capitalize"
    >
      new
    </button>
    <button
      class="flex-none rounded-full bg-gray-200 px-4 text-xs font-[400] text-gray-500 hover:bg-gray-300 dark:bg-night-600 dark:text-night-200 dark:hover:bg-night-500 capitalize"
    >
      new
    </button>
    <button
      class="flex-none rounded-full bg-gray-200 px-4 text-xs font-[400] text-gray-500 hover:bg-gray-300 dark:bg-night-600 dark:text-night-200 dark:hover:bg-night-500 capitalize"
    >
      new
    </button>
  </div>
</div>
